body{margin: 0px;}

a{text-decoration: none;}

h1 {font-size: 60px;
    text-align: center;

    border-bottom: 1px solid palevioletred;
    padding: 30px;
    margin:0px;}


#grid{display:grid;
      grid-template-columns:350px 1fr ;}


      .class1{font-size: 30px;
              width: 230px;
              padding-left:40px;
            
              border-right: 1px solid palevioletred;
              }



